@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root {
    --background: #ebc09d;
    --quote-box: #fafafa;
    --border: #502d05d3;
}

body, main {
    font: 100% 'Jost', sans-serif;
    background-color: var(--background);
    height: 100vh;
    box-sizing: border-box;
}

.container {
    height: 80vh;
}

.box {
    height: 450px;
    width: 900px;
    padding: 0 50px;
    border: 10px solid var(--border);
    background-color: var(--quote-box);
}

.box p {
    font-size: 1.5rem;
    overflow: hidden;
}