/* --- FONT --- */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

:root {
    --black: #000;
    --white: whitesmoke;
    --X: #e0b11794;
    --O: #1896b6;
}

body,
main {
    background-size: cover;
    background-color: var(--black);
    margin: 0;
    padding: 0;
    height: 97vh;
    font: 100% "Agbalumo", sans-serif;
    color: var(--white);
    position: relative;
}

h1 {
    margin: auto;
    text-align: center;
    margin-top: 5%;
    font-size: 3rem;
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 2.5rem;
    }
}


table {
    border: 7px solid var(--white);
    border-collapse: collapse;
    height: 350px;
    margin: auto;
    margin-top: 3%;
    table-layout: fixed;
}

@media screen and (max-width: 375px) {

    table {
        height: 320px;
    }
}

@media screen and (max-width: 320px) {

    table {
        height: 309px;
    }
}


td {
    border: 7px solid var(--white);
    cursor: pointer;
    width: 120px;
    white-space: nowrap;
}

@media screen and (max-width: 320px) {

    td {
        width: 90px;
    }
}