/* --- FONT --- */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

:root {
    --black: #000;
    --white: whitesmoke;
    --X: #e0b11794;
    --O: #1896b6;
}

body,
main {
    background-size: cover;
    background-color: var(--black);
    opacity: 0.8;
    margin: 0;
    padding: 0;
    height: 97vh;
    font: 100% "Agbalumo", sans-serif;
    color: var(--white);
    position: relative;
}

h1 {
    margin: auto;
    text-align: center;
    margin-top: 3%;
    font-size: 3rem;
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 2.5rem;
    }
}


/* --- 2D GAME BOARD --- */

.game {
    border: 7px solid var(--white);
    border-collapse: collapse;
    height: 350px;
    margin: auto;
    margin-top: 2%;
    table-layout: fixed;
}

@media screen and (max-width: 375px) {

    .game {
        height: 320px;
    }
}

@media screen and (max-width: 320px) {

    .game {
        height: 309px;
    }
}


.cell {
    border: 7px solid var(--white);
    cursor: pointer;
    width: 120px;
    white-space: nowrap;
}

@media screen and (max-width: 320px) {

    .cell {
        width: 90px;
    }
}


/* --- SCORE TABLE TALLY --- */

.game-tally {
    border-collapse: collapse;
    width: 12%;
    margin: 0 auto;
    margin-top: 2%;
    table-layout: fixed;
    white-space: nowrap;
    padding: 0 8px;
}

caption {
    padding-bottom: 10px;
    font-size: 1.5rem;
}

th {
    padding-bottom: 1px;
    white-space: nowrap;
    width: 50%;
    text-align: left;
}

.score {
    width: 25%;
    white-space: nowrap;
    text-align: center;
}