@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

:root {
    --dark-theme: black;
    --main-text-color: white;
    --primary-color: red;
    --search-bar-border: lightgray;
}

* {
    margin: 0;
    padding: 0;
}

body,
main {
    font: 100% 'Manrope', sans-serif;
    background-color: var(--dark-theme);
    color: var(--main-text-color);
}

header {
    border-bottom: 5px solid var(--primary-color);
}

svg {
    fill: var(--primary-color);
}

.container {
    width: 95%;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 0;
}

/* --- NAVBAR RESPONSIVENESS --- */

@media (max-width: 768px) {
    .nav {
        justify-content: center;
    }

    .nav h2 {
        padding: 5px 0;
    }
}

@media (max-width: 480px) {
    .nav h2 {
        text-align: center;
        font-size: 1.5rem;
    }
}

.input-field {
    position: relative;
    width: 350px;
}

.input-field input {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: 8px;
    border-radius: 25px;
    outline: none;
    border: 1px solid var(--search-bar-border);
}

.input-field svg {
    color: var(--dark-theme);
    position: absolute;
    top: 25%;
    right: 4%;
    transition: 1.5s;
}

.input-field svg:hover {
    cursor: pointer;
}

/* --- INPUT FIELD RESPONSIVENESS --- */

@media (max-width: 480px) {
    .input-field {
        width: 80%;
        margin: auto;
    }

    .input-field input {
        font-size: 0.7rem;
    }
}

.image-contents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* --- DIV WITH .IMAGE CLASSNAME WILL ONLY APPEAR AFTER SEARCHING AN IMAGE 
--- 12 RELATED IMAGES WILL SHOW BELOW THE PAGE --- */

.image {
    width: 380px;
    height: 200px;
    margin-top: 15px;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
}

.image:last-of-type {
    margin-bottom: 24px;
}

/* --- IMAGE CARD RESPONSIVENESS --- */

@media (max-width: 768px) {
    .image {
        width: 100%;
    }
}