:root {
    --calculator-bg: whitesmoke;
    --tip-amount-bg: rgb(204, 207, 204);
    --tip-amount-font-color: black;
}

body, main {
    height: 100vh;
    background: conic-gradient(
        from .5turn at bottom center, 
        lightblue, 
        white
    );
    box-sizing: border-box;
}

.calculator {
    background-color: var(--calculator-bg);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    max-width: 60%;
    min-width: fit-content;
}

#tip-amount {
    visibility: hidden;
    min-width: 250px;
    height: 55px;
    background-color: var(--tip-amount-bg);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    color: var(--tip-amount-font-color);
    margin-top: 20px;
    border: 5px ridge rgb(245, 245, 245);
}

#tip-amount.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}